.button-block{
  width: 100%;
}

/* .info-box{
  padding: 1%;
  height: 10rem
} */

.chart-box{
  padding: 1%;
}

.adduserfab {
    bottom: auto;
    top: -1em;
    /* right: -1rem; */
    /* right: -1rem; */
    float: right;
    position: relative;
}
.list-card-item{
height: 100%;
}
.list-card-item:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px .5px 1px 0px;
}

.form-container{
  margin-top:1%!important;
  margin-bottom:1%!important;
}