MuiPaper {
  padding: 100px;
}
.login-form
{
    justify-content: center;
    min-height: 90vh;
}
.button-block{
  width: 100%;
}
.login-background
{
    justify-content: center;
    min-height: 30vh;
    padding: 50px;
}
.navbar-search {
  width: 100%;
}
.section-title{
  padding: 15px;
}

.navbar-brand{
  color: white!important;
}
.appbar{
  width: 100%;
}
.paper-container{
  padding: 15px;
  margin: 20px;
  min-height: 90vh;
}
.paper-box{
  padding: 15px;
  /* margin: 20px; */
  margin-left: 2rem;
  min-height: 90vh;
}

.ag-theme-material{
  height: 80vh;
}

.info-box{
  padding: 15px;
}

.chart-box{
  padding: 15px;
  width: 100%;
}

.fab {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}
.list-card-item:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 1px 2px 0px;
}