MuiPaper {
  padding: 100px;
}
.login-form
{
    justify-content: center;
    min-height: 90vh;
}
.button-block{
  width: 100%;
}
.login-background
{
    justify-content: center;
    min-height: 30vh;
    padding: 50px;
}
.navbar-search {
  width: 100%;
}
.section-title{
  padding: 15px;
}

.navbar-brand{
  color: white!important;
}
.appbar{
  width: 100%;
}
.paper-container{
  padding: 15px;
  margin: 20px;
}

.ag-theme-material{
  height: 90vh;
}

.info-box{
  padding: 15px;
  height: 250px;
}

.chart-box{
  padding: 15px;
  width: 100%;
}